<section class="position-relative bg-color-nightmares">
  <div class="circle-shape position-absolute"><img class="h-100" src="assets/images/shapes/circle.svg" alt="Circle"></div>
  <div class="container position-relative d-flex justify-content-between pt-40">
    <h1 class="text-white position-absolute mt-n30 mt-lg-0 mb-10" [innerHTML]="title"></h1>
    <div class="dot-shape position-absolute"><img src="assets/images/shapes/yellow-8-2-dots.svg" alt="Dot"></div>
  </div>
  <div>
    <img [id]="ScrollPosition.Jumbotron" class="w-100" src="assets/images/diagonals/dark-white.svg" alt="Dark">
  </div>
  <div class="position-absolute bottom-white">
    <img class="w-100" src="assets/images/diagonals/bottom-white.svg" alt="White">
  </div>
</section>

