@import "../../../../assets/theme";

.photo {
  position: relative;

  a.remove {
    position: absolute;
    top: -12px;
    right: -7px;
  }

  & > img {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
