@media (min-width: 576px) {
  .archincer-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .archincer-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .archincer-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .archincer-container {
    max-width: 1140px;
  }
}

@media (min-width: 1600px) {
  .archincer-container {
    max-width: 1440px;
  }
}

.archincer-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
