.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.x-middle {
  @include absolute_middle(x);
}

.y-middle {
  @include absolute_middle(y);
}

.x-max-jumbotron {
  max-width: 420px;
}

.z-index-1 {
  z-index: 99;
}

.flex-1 {
  flex: 1;
}

.shadow-1 {
  box-shadow: 0 2px 8px 0 rgba(224,229,238,0.3);
}

.shadow-2 {
  box-shadow: 0 2px 8px 0 rgba(224,229,238,0.9);
}

.shadow-3 {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.pretty-scroll {
  @include pretty-scroll;
}

.max-height-250 {
  max-height: 250px;
}

.min-width {
  &-200 {
    min-width: 200px;
  }
  &-300 {
    min-width: 300px;
  }
}

.flex-fit-parent {
  min-height: 0;
  flex: 1;
}

.line-break-anywhere {
  line-break: anywhere;
}

.small-dot {
  @include circle(8px);
}

.medium-dot {
  @include circle(10px);
}

.border-radius {
  &-4 {
    border-radius: 4px;
  }
}

.opacity-1 {
  opacity: 1 !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-7 {
  opacity: 0.7 !important;
}

.opacity-3 {
  opacity: 0.3 !important;
}
