@import "../../../../assets/theme";

div.image-renderer-wrapper {
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    display: none;
  }

  &:hover {
    button {
      display: block;
    }
  }
}
