<a class="close" mat-dialog-close><span class="material-icons">close</span></a>
<h5 mat-dialog-title class="text-center mt-20 px-50">Create a free account to save photos and view more images</h5>
<div mat-dialog-content class="py-30 pretty-scroll">
  <form [formGroup]="form" class="px-0 px-md-70">
    <archincer-text-input label="First Name" formControlName="firstName"></archincer-text-input>
    <archincer-text-input label="Last Name" formControlName="lastName"></archincer-text-input>
    <archincer-text-input type="email" label="Email Address" formControlName="email"></archincer-text-input>
    <archincer-phone-number-input label="Phone Number" placeholder="" formControlName="phone"></archincer-phone-number-input>
    <archincer-text-input type="password" label="Password" formControlName="password"></archincer-text-input>
    <archincer-text-input type="password" label="Confirm Password" formControlName="confirmPassword"></archincer-text-input>
    <div class="mt-20">
      <mat-checkbox class="color-dove-gray" formControlName="terms">
        I agree to the <a class="text-primary" (click)="showLegalNoticeDialog($event)">Terms of Service</a><br class="d-block d-sm-none"> and <a class="text-primary" (click)="showPrivacyDialog($event)">Privacy Policy</a>
      </mat-checkbox>
    </div>
  </form>
</div>
<archincer-spinner *ngIf="isLoading"></archincer-spinner>
<div mat-dialog-actions class="d-flex justify-content-center">
  <button class="btn btn-primary" [disabled]="isLoading || form.invalid" (click)="register()">Create Account</button>
</div>


