// Colors
$niagara: #b3d146;
$fern: #5BBA5E;
$tangerine: #F18F01;
$carnation: #FA6969;
$downriver: #0A2540;
$cinder: #151720;
$cape-cod: #353636;
$nobel: #B3B3B3;
$gray-chateau: #9CA6B1;
$black-squeeze: #F3F7FB;
$dove-gray: #666666;
$catskill-white: #F7F9FB;
$mine-shaft: #3E3E3E;
$silver: #C1C1C1;
$cloud-burst: #213951;
$mercury: #E5E5E5;
$swans-down: #DBEEED;
$dark-blue: #00008b;
$japonica: #D97070;
$casablanca: #F9B256;
$java: #1EC3BD;
$mystic: #EAEEF2;
$accordion-gray: #F7F7F7;
$nightmares: #2F2F35;

$theme-colors: (
  primary: $niagara,
  success: $fern,
  warning: $tangerine,
  danger: $carnation
);

// Headings
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1;
$font-size-sm: $font-size-base * .955;

$h1-font-size: $font-size-base * 2.75;
$h2-font-size: $font-size-base * 2.125;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.125;

// Spacing
$pixel-spacer: 5px !default;
// stylelint-disable-next-line scss/dollar-variable-default
@for $i from 1 through 100 {
  $spacers: map-merge($spacers, (
    $i * 5: ($i * $pixel-spacer)
  ));
}

// Buttons
$btn-padding-y: .625rem;
$btn-font-size: 13px;
$btn-line-height: 1.6;
$btn-font-weight: bold;
$btn-border-width: 0;

// Navs
$nav-tabs-border-width: 2px;
$nav-tabs-border-radius: 0;
$nav-tabs-border-color: white;
$nav-tabs-link-hover-border-color: white white $niagara;
$nav-tabs-link-active-color: $niagara;
$nav-tabs-link-active-border-color: white white $niagara;

// Cards
$card-border-radius: 3px;
$card-border-width: 0;

// Forms
$form-group-margin-bottom: 1.25rem;
$input-padding-x: 1.25rem;
$input-padding-y: 0.875rem;
$input-line-height: 1.375rem;
$input-font-size: 0.875rem;
$input-border-width: 0;
$input-height: 50px;
$input-bg: $catskill-white;
$input-placeholder-color: $silver;

// Dropdowns
$dropdown-min-width: 14.38rem;
$dropdown-padding-y: 0;
$dropdown-font-size: 12px;
$dropdown-border-width: 0;
$dropdown-link-color: $mine-shaft;
$dropdown-link-active-color: $mine-shaft;
$dropdown-link-active-bg: $black-squeeze;
$dropdown-divider-margin-y: 0;
$dropdown-item-padding-x: 0.9375rem;

// Alert
$alert-color-level: 0;
$alert-bg-level: -10;
$alert-border-width: 0;

// Breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);
