@import "../../../assets/theme";

.close {
  z-index: 999;
  span {
    @include circle(34px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
  }
}

.my-n24 {
  margin-top: -24px;
  margin-bottom: -24px;
}
