<div class="row">
  <div class="col-12" [ngClass]="'col-md-' + 12 / cols" *ngFor="let item of options">
    <div class="image-card p-10 mb-10 cursor-pointer" (click)="selectCard(item)" [class.active]="item.selected">
      <archincer-image-renderer height="77" [src]="item.image"></archincer-image-renderer>
      <span><img src="assets/images/icons/check-circle.svg" alt="check"></span>
      <div class="font-weight-medium mt-10 text-center">
        <p class="mb-0">{{ item.label }}</p>
      </div>
    </div>
  </div>
</div>
