@import "assets/theme/mat-theme-custom";

// Customize bootstrap theme variables
@import "assets/theme";
@import "~bootstrap";

// Custom theme styles
@import "assets/theme/imports";

* {
  font-family: 'Poppins', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
